.group {
  text-align: center;
  padding: 10px;
}

.input {
  border-radius: 3px;
  border: 2px solid black;
  width: 100px;
  margin-right: 10px;
}

.select {
  border: 2px solid black;
  border-radius: 3px;
  padding: 3px;
}
